<div class="container">
<h1>All Readings</h1>
<hr/>
<%= link_to "Enter New Meter Readings", new_reading_path, class: "center btn btn-success btn-white-text" %>
<br><br>
<% @readings.each do |reading| %>
    <div class="row well">
        <div class="col-md-2">
            <h4><%= link_to reading.user.customer_number, user_path(reading.user) %></h4>
        </div>
        <div class="col-md-5">
            <h4><%= reading.user.company %></h4>
        </div>
        <div class="col-md-5">
            <h4>Equipment Number: <%= link_to reading.equipment_number, reading_path(reading) %></h4>
        </div>
    </div>
<% end %>

</div>