<div class="container">
    <div class="logo">Sum</div>
    <h2>Sum is a simple web app that gives you access to all your bank accounts</h2>
    <div class="dual-button">
      <div>
        <span class="radio-button radio-left" id="sandboxLinkButton">Sandbox Mode</span>
      </div>
      <div>
        <span class="radio-button radio-right" id="liveLinkButton">Regular Mode</span>
      </div>
    </div>
    <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
    <script>
    // This demo uses two custom initializers so that we can provide
    // both a sandbox and live demo on the same page.
    // See: https://github.com/plaid/link/blob/master/README.md#step-2-custom-integration
    var sandboxHandler = Plaid.create({
      clientName: 'SUM',
      env: 'tartan',
      product: 'auth',
      key: 'test_key',
      onSuccess: function(token) {
        window.location = '/banks/accounts?public_token=' + token;
      },
    });
    var liveHandler = Plaid.create({
      clientName: 'SUM',
      env: 'tartan',
      product: 'auth',
      key: '41a8d274ee3df2c877874ce6bcb560',
      onSuccess: function(token) {
        window.location = '/banks/accounts?public_token=' + token;
      },
    });
    // Open the "Institution Select" view using the sandbox Link handler.
    document.getElementById('sandboxLinkButton').onclick = function() {
      sandboxHandler.open();
    };
    // Open the "Institution Select" view using the live Link handler.
    document.getElementById('liveLinkButton').onclick = function() {
      liveHandler.open();
    };
    </script>
  </div>