<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to the QBS Customer Portal</h1>
    
    <%= link_to "Submit Meter Readings", new_reading_path, class: "btn btn-lg btn-primary btn-white-text" %>
    <%= link_to "Make Payment", payments_path, class: "btn btn-lg btn-success btn-white-text" %>
    <%= link_to "Support and Supplies", support_path, class: "btn btn-lg btn-danger btn-white-text" %>
  </div>
</div>