<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to the QBS Customer Portal</h1>
    <h2>This is where you can pay your bill, find support files, and submit meter readings.</h2>
    
    <%= link_to "Access Your Account", login_path, class: "btn btn-lg btn-success btn-white-text" %>
  </div>
</div>