<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to the QBS<br>Customer Page</h1>
    <h2>Pay your bill, submit meter readings, access support, and order supplies.</h2>
    
    <%= link_to "Access Your Account", login_path, class: "btn btn-lg btn-success btn-white-text" %>
    
    <h3>Don't have an account yet? Can't remember your password? Contact us at <a href="tel://1-410-337-3700">410-337-3700</a> or <a href="mailto:websites@copyquality.com?Subject=Login%20Account%20Help" target="_top">websites@copyquality.com</a> for account support.</h3>
  </div>
</div>