<div class="container support">
  <h1>Support Files</h1>
  <hr/>
  <h2>Select your machine from the options below for links to manuals and drivers</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <select size="1" id="Machine" title="" name="Machine">
          <option value="">-Select Your Machine Type-</option>
          <option value="colorprint">Color Printer</option>
          <option value="bwprint">Black and White Printer</option>
          <option value="colormfp">Color Multi-function</option>
          <option value="bwmfp">Black and White Multi-function</option>
          <option value="postage">Postage Meter</option>
          <option value="inserters">Inserters</option>
      </select>
      
      <div class="container2">
          <div class="colorprint">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="colorprint1">FS-C8650DN</option>
                  <option value="colorprint2">P5021cdw</option>
                  <option value="colorprint3">P5026cdw</option>
                  <option value="colorprint4">P6021cdn</option>
                  <option value="colorprint5">P6030cdn</option>
                  <option value="colorprint6">P6035cdn</option>
                  <option value="colorprint7">P6130cdn</option>
                  <option value="colorprint8">P7035cdn</option>
                  <option value="colorprint9">P7040cdn</option>
              </select>
          </div>
          <div class="bwprint">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="bwprint1">FS-2100DN</option>
                  <option value="bwprint2">FS-4100DN</option>
                  <option value="bwprint3">FS-4200DN</option>
                  <option value="bwprint4">FS-4300DN</option>
                  <option value="bwprint5">P2135d</option>
                  <option value="bwprint6">P2135dn</option>
              </select>
          </div>
          <div class="colormfp">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="colormfp1">M5521cdw</option>
                  <option value="colormfp2">M5526cdw</option>
                  <option value="colormfp3">M6035cidn</option>
                  <option value="colormfp4">M6526cdn</option>
                  <option value="colormfp5">M6530cdn</option>
                  <option value="colormfp6">M6535cidn</option>
                  <option value="colormfp7">TASKalfa 306ci</option>
                  <option value="colormfp8">TASKalfa 356ci</option>
                  <option value="colormfp9">TASKalfa 406ci</option>
                  <option value="colormfp10">TASKalfa 2552ci</option>
                  <option value="colormfp11">TASKalfa 3051ci</option>
                  <option value="colormfp12">TASKalfa 3252ci</option>
                  <option value="colormfp13">TASKalfa 3551ci</option>
                  <option value="colormfp14">TASKalfa 3552ci</option>
                  <option value="colormfp15">TASKalfa 4052ci</option>
                  <option value="colormfp16">TASKalfa 4551ci</option>
                  <option value="colormfp17">TASKalfa 5052ci</option>
                  <option value="colormfp18">TASKalfa 5551ci</option>
                  <option value="colormfp19">TASKalfa 6052ci</option>
                  <option value="colormfp20">TASKalfa 6551ci</option>
                  <option value="colormfp21">TASKalfa 7052ci</option>
                  <option value="colormfp22">TASKalfa 7551ci</option>
                  <option value="colormfp23">TASKalfa 8052ci</option>
              </select>
          </div>
          <div class="bwmfp">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="bwmfp1">FS-3140MFP+</option>
                  <option value="bwmfp2">FS-3540MFP</option>
                  <option value="bwmfp3">FS-3640MFP</option>
                  <option value="bwmfp4">FS-6525MFP</option>
                  <option value="bwmfp5">FS-6530MFP</option>
                  <option value="bwmfp6">M2035dn</option>
                  <option value="bwmfp7">M2040dn</option>
                  <option value="bwmfp8">M2535dn</option>
                  <option value="bwmfp9">M2540dw</option>
                  <option value="bwmfp10">M2635dw</option>
                  <option value="bwmfp11">M2640idw</option>
                  <option value="bwmfp12">M3040idn</option>
                  <option value="bwmfp13">M3550idn</option>
                  <option value="bwmfp14">M3560idn</option>
                  <option value="bwmfp15">TASKalfa 3010i</option>
                  <option value="bwmfp16">TASKalfa 3011i</option>
                  <option value="bwmfp17">TASKalfa 3501i</option>
                  <option value="bwmfp18">TASKalfa 3510i</option>
                  <option value="bwmfp19">TASKalfa 3511i</option>
                  <option value="bwmfp20">TASKalfa 4002i</option>
                  <option value="bwmfp21">TASKalfa 4501i</option>
                  <option value="bwmfp22">TASKalfa 5002i</option>
                  <option value="bwmfp23">TASKalfa 5501i</option>
                  <option value="bwmfp24">TASKalfa 6002i</option>
                  <option value="bwmfp25">TASKalfa 6501i</option>
                  <option value="bwmfp26">TASKalfa 7002i</option>
                  <option value="bwmfp27">TASKalfa 8001i</option>
                  <option value="bwmfp28">TASKalfa 8002i</option>
              </select>
          </div>
          <div class="postage">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="postage1">PostBase Mini</option>
                  <option value="postage2">PostBase 20</option>
                  <option value="postage3">PostBase 30</option>
                  <option value="postage4">PostBase 45</option>
                  <option value="postage5">PostBase 65</option>
                  <option value="postage6">PostBase 85</option>
                  <option value="postage7">CentorMail Max</option>
              </select>
          </div>
          <div class="inserters">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="inserter1">FPi-600</option>
                  <option value="inserter2">FPi-2300</option>
                  <option value="inserter3">FPi-4500</option>
              </select>
          </div>
          
      </div>
      
      <div class="second-level-container">
        <!-- Color Printers -->
          <div class="colorprint1"> <!-- FS-C8650DN -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25048/0/FS-8650DNENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint2"> <!-- P5021cdw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29086/0/M5521_M5526_P5021_P5026_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29260/0/EC%20P5021%20cdw-cdn-P5026cdw-cdnENOGR1%202016.6.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint3"> <!-- P5026cdw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29086/0/M5521_M5526_P5021_P5026_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29260/0/EC%20P5021%20cdw-cdn-P5026cdw-cdnENOGR1%202016.6.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint4"> <!-- P6021cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26396/0/EC%20P6021cdn-P6026cdnENOGR2.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint5"> <!-- P6030cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26400/0/ES%20P6030cdnENOG-BASIC.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint6"> <!-- P6035cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27724/0/OPGUIDE_EC%20P6035cdn-P7040cdnENOGR2015.6.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="colorprint7"> <!-- P6130cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27722/0/OPGUIDE_EC%20P6130cdnENOG.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colorprint8"> <!-- P7035cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26390/0/EC%20P7035cdnENOG-PRINT.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="colorprint9"> <!-- P7040cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27724/0/OPGUIDE_EC%20P6035cdn-P7040cdnENOGR2015.6.pdf" target="_blank">Manual</a><br>
          </div>
          
          <!-- B/W Printers -->
          <div class="bwprint1"> <!-- FS-2100DN -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="bwprint2"> <!-- FS-4100DN -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwprint3"> <!-- FS-4200DN -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwprint4"> <!-- FS-4300DN -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="bwprint5"> <!-- P2135d -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26407/0/EC%20P2035d-P2135dENOG-PRINT.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="bwprint6"> <!-- P2135dn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26412/0/EC%20P2135dnENOGR1.0.2014.7-BASIC.pdf" target="_blank">Manual</a><br>
          </div> 
          
          <!-- Color Multi-functions -->
          <div class="colormfp1"> <!-- M5521cdw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27658/0/OPGUIDE_EC%20M6035cidn-M6535cidnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp2"> <!-- M5526cdw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26427/0/EC%20M6026cdn-M6526cdnENOGR1.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp3"> <!-- M6035cidn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27658/0/OPGUIDE_EC%20M6035cidn-M6535cidnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp4"> <!-- M6526cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26427/0/EC%20M6026cdn-M6526cdnENOGR1.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp5"> <!-- M6530cdn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27657/0/OPGUIDE_EC%20M6030cdn-M6530cdnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp6"> <!-- M6535cidn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27658/0/OPGUIDE_EC%20M6035cidn-M6535cidnENOG.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="colormfp7"> <!-- 306ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28147/0/306ciENOGR2.2016.05.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp8"> <!-- 356ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28146/0/356ci-406ciENR2.2016.05.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp9"> <!-- 406ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28146/0/356ci-406ciENR2.2016.05.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp10"> <!-- 2552ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/2552ci-3252ci-4052ci-5052ci-6052ciENOG-FIRST%202016.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp11"> <!-- 3051ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp12"> <!-- 3252ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/2552ci-3252ci-4052ci-5052ci-6052ciENOG-FIRST%202016.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp13"> <!-- 3551ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp14"> <!-- 3552ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/OPGUIDE_2552ci-3252ci-3552ci-4052ci-5052ci-6052ciENOGR%202016.5.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp15"> <!-- 4052ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/OPGUIDE_2552ci-3252ci-3552ci-4052ci-5052ci-6052ciENOGR%202016.5.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp16"> <!-- 4551ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp17"> <!-- 5052ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/OPGUIDE_2552ci-3252ci-3552ci-4052ci-5052ci-6052ciENOGR%202016.5.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp18"> <!-- 5551ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp19"> <!-- 6052ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/OPGUIDE_2552ci-3252ci-3552ci-4052ci-5052ci-6052ciENOGR%202016.5.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp20"> <!-- 6551ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26307/0/6551ci-7551ciENOGR3-2014.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp21"> <!-- 7052ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29475/0/7002i_8002i_7052ci_8052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29434/0/7052ci-8052ciENOG.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp22"> <!-- 7551ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26307/0/6551ci-7551ciENOGR3-2014.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp23"> <!-- 8052ci -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29475/0/7002i_8002i_7052ci_8052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29434/0/7052ci-8052ciENOG.pdf" target="_blank">Manual</a><br>
          </div> 
          
          <!-- B/W Multi-functions -->
          <div class="bwmfp1"> <!-- FS-3140MFP+ -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/23522/0/FS-3040MFPplus3140MFPplusENOGR1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp2"> <!-- FS-3540MFP -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/23264/0/FS-3540MFP-3640MFPENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp3"> <!-- FS-3640MFP -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/23264/0/FS-3540MFP-3640MFPENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp4"> <!-- FS-6525MFP -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/24843/0/FS-6525MFP-6530MFPENOG.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="bwmfp5"> <!-- FS-6530MFP -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/24843/0/FS-6525MFP-6530MFPENOG.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="bwmfp6"> <!-- M2035dn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26505/0/EC%20M2030dn-M2035dn-M2530dn-M2535dnENOGR2.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp7"> <!-- M2040dn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29422/0/OPGUIDE_M2135dn-M2635dw-M2040dn-M2540dwMLQG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp8"> <!-- M2535dn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26505/0/EC%20M2030dn-M2035dn-M2530dn-M2535dnENOGR2.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp9"> <!-- M2540dw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29422/0/OPGUIDE_M2135dn-M2635dw-M2040dn-M2540dwMLQG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp10"> <!-- M2635dw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29422/0/OPGUIDE_M2135dn-M2635dw-M2040dn-M2540dwMLQG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp11"> <!-- M2640idw -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29420/0/M2640idwENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp12"> <!-- M3040idn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26760/0/EC%20M3040idn-M3540idn-M3550idn-M3560idnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp13"> <!-- M3550idn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26760/0/EC%20M3040idn-M3540idn-M3550idn-M3560idnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp14"> <!-- M3560idn -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26760/0/EC%20M3040idn-M3540idn-M3550idn-M3560idnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp15"> <!-- 3010i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26099/0/3010i-3510iENOGR2.2014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp16"> <!-- 3011i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28951/0/3011i_3511i_OSX.pkg.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28959/0/3011i-3511iENOGR1%202016.7.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp17"> <!-- 3501i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25734/0/3501i-4501i-5501iENOGR4%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp18"> <!-- 3510i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26099/0/3010i-3510iENOGR2.2014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp19"> <!-- 3511i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28951/0/3011i_3511i_OSX.pkg.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28959/0/3011i-3511iENOGR1%202016.7.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp20"> <!-- 4002i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29201/0/OPGUIDE_4002i-5002i-6002iENOGR1%202016.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp21"> <!-- 4501i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25734/0/3501i-4501i-5501iENOGR4%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp22"> <!-- 5002i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29201/0/OPGUIDE_4002i-5002i-6002iENOGR1%202016.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp23"> <!-- 5501i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25734/0/3501i-4501i-5501iENOGR4%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp24"> <!-- 6002i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28765/0/2552ci3252ci3552ci4002i4052ci5002i6002i6052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29201/0/OPGUIDE_4002i-5002i-6002iENOGR1%202016.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp25"> <!-- 6501i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26239/0/6501i-8001iENOGR3%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp26"> <!-- 7002i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29475/0/7002i_8002i_7052ci_8052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29429/0/7002i-8002iENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp27"> <!-- 8001i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29638/0/MacPDE3.3Vup%20Build2016.12.08(KDC).zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26239/0/6501i-8001iENOGR3%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp28"> <!-- 8002i -->
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29516/0/Kx631625e_UPD.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29475/0/7002i_8002i_7052ci_8052ci_OSX.zip">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/29429/0/7002i-8002iENOG.pdf" target="_blank">Manual</a><br>
          </div>
          
          <!-- POSTAGE METERS -->
          <div class="postage1">
            <a href="http://download.fp-usa.com/product_docs/postbase_mini/postbase-mini-operating-manual.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          <div class="postage2">
            <a href="http://portal.fp-usa.com/_pdf/postbase_manual_w_us_addendum.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/product_dealer_page/postbase_ink_cartridge_installation.pdf" target="_blank">Ink Cartridge Installation</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          <div class="postage3">
            <a href="http://portal.fp-usa.com/_pdf/postbase_manual_w_us_addendum.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/product_dealer_page/postbase_ink_cartridge_installation.pdf" target="_blank">Ink Cartridge Installation</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          <div class="postage4">
            <a href="http://download.fp-usa.com/product_docs/postbase_mini/postbase-mini-operating-manual.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/product_dealer_page/postbase_ink_cartridge_installation.pdf" target="_blank">Ink Cartridge Installation</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          <div class="postage5">
            <a href="http://download.fp-usa.com/product_docs/postbase_mini/postbase-mini-operating-manual.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/product_dealer_page/postbase_ink_cartridge_installation.pdf" target="_blank">Ink Cartridge Installation</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          <div class="postage6">
            <a href="http://download.fp-usa.com/product_docs/postbase_mini/postbase-mini-operating-manual.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/product_dealer_page/postbase_ink_cartridge_installation.pdf" target="_blank">Ink Cartridge Installation</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          <div class="postage7">
            <a href="https://portal.fp-usa.com/dashboard/Products/centormail%20MAX/centormail%20MAX%20Operator%20Manual.pdf" target="_blank">Manual</a><br>
            <a href="http://portal.fp-usa.com/_pdf/ink_cartridge_cleaning_instructions.pdf" target="_blank">Ink Cartridge Cleaning</a><br>
          </div>
          
          <!-- INSERTERS -->
          <div class="inserter1">
            <a href="https://portal.fp-usa.com/sales_room/TechnicalSupport/OperatorManuals/FPi-600%20User%20Manual.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="inserter2">
            <a href="https://portal.fp-usa.com/sales_room/TechnicalSupport/OperatorManuals/FPi-2300_User_Guide_ENG_DE.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="inserter3">
            <a href="https://portal.fp-usa.com/dashboard/Products/Folder-Inserters/OperatorManuals/FPi-4500%20Operator%20Manual.pdf" target="_blank">Manual</a><br>
          </div>
          
          
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $('#Machine').bind('change', function() {
        var elements = $('div.container2').children().hide(); // hide all the elements
        var value = $(this).val();

        if (value.length) { // if somethings' selected
            elements.filter('.' + value).show(); // show the ones we want
        }
    }).trigger('change');
    
    $('.second-level-select').bind('change', function() {
        var elements = $('div.second-level-container').children().hide(); // hide all the elements
        var value = $(this).val();

        if (value.length) { // if somethings' selected
            elements.filter('.' + value).show(); // show the ones we want
        }
    }).trigger('change');

</script>