<div class="container support">
  <h1>Support Files</h1>
  <hr/>
  <h2>Select your machine from the options below for links to manuals and drivers</h2>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <select size="1" id="Machine" title="" name="Machine">
          <option value="">-Select Your Machine Type-</option>
          <option value="colorprint">Color Printer</option>
          <option value="bwprint">Black and White Printer</option>
          <option value="colormfp">Color Multi-function</option>
          <option value="bwmfp">Black and White Multi-function</option>
      </select>
      
      <div class="container2">
          <div class="colorprint">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="colorprint1">FS-C8650DN</option>
                  <option value="colorprint2">P6021cdn</option>
                  <option value="colorprint3">P6030cdn</option>
                  <option value="colorprint4">P6035cdn</option>
                  <option value="colorprint5">P6130cdn</option>
                  <option value="colorprint6">P7035cdn</option>
                  <option value="colorprint7">P7040cdn</option>
              </select>
          </div>
          <div class="bwprint">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="bwprint1">FS-2100DN</option>
                  <option value="bwprint2">FS-4100DN</option>
                  <option value="bwprint3">FS-4200DN</option>
                  <option value="bwprint4">FS-4300DN</option>
                  <option value="bwprint5">P2135d</option>
                  <option value="bwprint6">P2135dn</option>
              </select>
          </div>
          <div class="colormfp">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="colormfp1">M6035cidn</option>
                  <option value="colormfp2">M6526cdn</option>
                  <option value="colormfp3">M6530cdn</option>
                  <option value="colormfp4">M6535cidn</option>
                  <option value="colormfp5">TASKalfa 306ci</option>
                  <option value="colormfp6">TASKalfa 356ci</option>
                  <option value="colormfp7">TASKalfa 406ci</option>
                  <option value="colormfp8">TASKalfa 2552ci</option>
                  <option value="colormfp9">TASKalfa 3051ci</option>
                  <option value="colormfp10">TASKalfa 3252ci</option>
                  <option value="colormfp11">TASKalfa 3551ci</option>
                  <option value="colormfp12">TASKalfa 4551ci</option>
                  <option value="colormfp13">TASKalfa 5551ci</option>
                  <option value="colormfp14">TASKalfa 6551ci</option>
                  <option value="colormfp15">TASKalfa 7551ci</option>
              </select>
          </div>
          <div class="bwmfp">
              <select class="second-level-select">
                  <option value="">-Select Your Model-</option>
                  <option value="bwmfp1">FS-3140MFP+</option>
                  <option value="bwmfp2">FS-3540MFP</option>
                  <option value="bwmfp3">FS-3640MFP</option>
                  <option value="bwmfp4">FS-6525MFP</option>
                  <option value="bwmfp5">FS-6530MFP</option>
                  <option value="bwmfp6">M2035dn</option>
                  <option value="bwmfp7">M2535dn</option>
                  <option value="bwmfp8">M3040idn</option>
                  <option value="bwmfp9">M3550idn</option>
                  <option value="bwmfp10">M3560idn</option>
                  <option value="bwmfp11">TASKalfa 3010i</option>
                  <option value="bwmfp12">TASKalfa 3501i</option>
                  <option value="bwmfp13">TASKalfa 3510i</option>
                  <option value="bwmfp14">TASKalfa 4501i</option>
                  <option value="bwmfp15">TASKalfa 5501i</option>
                  <option value="bwmfp16">TASKalfa 6501i</option>
                  <option value="bwmfp17">TASKalfa 8001i</option>
              </select>
          </div>
      </div>
      
      <div class="second-level-container">
          <div class="colorprint1">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25048/0/FS-8650DNENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint2">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26396/0/EC%20P6021cdn-P6026cdnENOGR2.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint3">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26400/0/ES%20P6030cdnENOG-BASIC.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colorprint4">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27724/0/OPGUIDE_EC%20P6035cdn-P7040cdnENOGR2015.6.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="colorprint5">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27722/0/OPGUIDE_EC%20P6130cdnENOG.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colorprint6">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26390/0/EC%20P7035cdnENOG-PRINT.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colorprint7">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27724/0/OPGUIDE_EC%20P6035cdn-P7040cdnENOGR2015.6.pdf" target="_blank">Manual</a><br>
          </div> 
          
          <div class="bwprint1">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwprint2">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwprint3">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwprint4">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25035/0/FS-2100-4100-4200-4300ENOGR2.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="bwprint5">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26407/0/EC%20P2035d-P2135dENOG-PRINT.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="bwprint6">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26412/0/EC%20P2135dnENOGR1.0.2014.7-BASIC.pdf" target="_blank">Manual</a><br>
          </div> 
          
          <div class="colormfp1">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27658/0/OPGUIDE_EC%20M6035cidn-M6535cidnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp2">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26427/0/EC%20M6026cdn-M6526cdnENOGR1.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp3">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27657/0/OPGUIDE_EC%20M6030cdn-M6530cdnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="colormfp4">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27658/0/OPGUIDE_EC%20M6035cidn-M6535cidnENOG.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="colormfp5">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28147/0/306ciENOGR2.2016.05.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp6">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28146/0/356ci-406ciENR2.2016.05.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp7">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28146/0/356ci-406ciENR2.2016.05.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp8">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/2552ci-3252ci-4052ci-5052ci-6052ciENOG-FIRST%202016.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp9">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp10">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28691/0/2552ci-3252ci-4052ci-5052ci-6052ciENOG-FIRST%202016.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp11">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp12">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp13">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25911/0/3051ci-3551ci-4551ci-5551ciENOGR4.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp14">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26307/0/6551ci-7551ciENOGR3-2014.1.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="colormfp15">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26307/0/6551ci-7551ciENOGR3-2014.1.pdf" target="_blank">Manual</a><br>
          </div> 
          
          <div class="bwmfp1">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/23522/0/FS-3040MFPplus3140MFPplusENOGR1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp2">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/23264/0/FS-3540MFP-3640MFPENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp3">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/23264/0/FS-3540MFP-3640MFPENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp4">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/24843/0/FS-6525MFP-6530MFPENOG.pdf" target="_blank">Manual</a><br>
          </div>  
          <div class="bwmfp5">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/24843/0/FS-6525MFP-6530MFPENOG.pdf" target="_blank">Manual</a><br>
          </div> 
          <div class="bwmfp6">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26505/0/EC%20M2030dn-M2035dn-M2530dn-M2535dnENOGR2.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp7">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26505/0/EC%20M2030dn-M2035dn-M2530dn-M2535dnENOGR2.2014.5.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp8">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26760/0/EC%20M3040idn-M3540idn-M3550idn-M3560idnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp9">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26760/0/EC%20M3040idn-M3540idn-M3550idn-M3560idnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp10">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26760/0/EC%20M3040idn-M3540idn-M3550idn-M3560idnENOG.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp11">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26099/0/3010i-3510iENOGR2.2014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp12">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25734/0/3501i-4501i-5501iENOGR4%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp13">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26099/0/3010i-3510iENOGR2.2014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp14">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25734/0/3501i-4501i-5501iENOGR4%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp15">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/25734/0/3501i-4501i-5501iENOGR4%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp16">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26239/0/6501i-8001iENOGR3%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
          <div class="bwmfp17">
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/28115/0/Kx630909_UPD_en.zip">Windows Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/27470/0/Kyocera%20OS%20X%2010.5+%20Web%20build%202014.10.20.dmg">Mac Driver</a><br>
            <a href="http://usa.kyoceradocumentsolutions.com/americas/jsp/upload/resource/26239/0/6501i-8001iENOGR3%202014.1.pdf" target="_blank">Manual</a><br>
          </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $('#Machine').bind('change', function() {
        var elements = $('div.container2').children().hide(); // hide all the elements
        var value = $(this).val();

        if (value.length) { // if somethings' selected
            elements.filter('.' + value).show(); // show the ones we want
        }
    }).trigger('change');
    
    $('.second-level-select').bind('change', function() {
        var elements = $('div.second-level-container').children().hide(); // hide all the elements
        var value = $(this).val();

        if (value.length) { // if somethings' selected
            elements.filter('.' + value).show(); // show the ones we want
        }
    }).trigger('change');

</script>