<div class="container support center">
  <h1>Make a Payment</h1>
  <hr/>
  <%= link_to "Pay with a Credit Card", new_charge_path, class: "btn btn-lg btn-primary btn-white-text" %>
  <%= link_to "Pay with a Bank Account", banks_accounts_path, class: "btn btn-lg btn-success btn-white-text" %>
</div>
  
  