<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 sitemap">
				
			</div><!-- end col -->


			<div class="col-sm-3">
				<p class="footer-address">Quality Business Solutions &copy; 2016</p>
			</div><!-- end col -->
		</div><!-- end row -->
		<div class="row">
			<div class="col-sm-6 sitemap">
				<a href="https://twitter.com/qbs_copiers" target="_blank"><img src="http://copyquality.com/img/twitter.png" width="42" height="42" alt="Twitter" title="Twitter" border="0" /></a>

				<a href="https://www.facebook.com/QBSCopiers" target="_blank"><img src="http://copyquality.com/img/facebook.png" width="42" height="42" alt="Facebook" title="Facebook" border="0" /></a>

				<a href="https://www.linkedin.com/company/quality-business-solutions" target="_blank"><img src="http://copyquality.com/img/linkedin.png" width="42" height="42" alt="LinkedIn" title="LinkedIn" border="0" /></a>
				
				<a href="https://plus.google.com/106490611484951200602/about" target="_blank"><img src="http://copyquality.com/img/googleplus.png" width="42" height="42" alt="Google Plus" title="GooglePlus" border="0" /></a>

				<a href="https://www.youtube.com/user/baltimorecopiers" target="_blank"><img src="http://copyquality.com/img/youtube.png" width="42" height="42" alt="YouTube" title="YouTube" border="0" /></a>
			</div>
			<div class="col-sm-3">
				<div class="xr_noreset " style="width: 184px; height: 87px;">
					<a id="bbblink" class="ruhzbum" href="http://www.bbb.org/greater-maryland/business-reviews/office-equipment-leasing-and-repair-service/quality-business-solutions-in-towson-md-90170739#bbbseal" title="Quality Business Solutions, Office Equipment Leasing & Repair Service, Towson, MD" style="display: block;position: relative;overflow: hidden; width: 150px; height: 68px; margin: 0px; padding: 0px;">
					  <img style="padding: 0px; border: none;" id="bbblinkimg" src="http://seal-greatermd.bbb.org/logo/ruhzbum/quality-business-solutions-90170739.png" width="300" height="68" alt="Quality Business Solutions, Office Equipment Leasing & Repair Service, Towson, MD" /></a>
					  <script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-greatermd.bbb.org' + unescape('%2Flogo%2Fquality-business-solutions-90170739.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
					<script src="http://seal-greatermd.bbb.org/logo/quality-business-solutions-90170739.js" type="text/javascript"></script>
				</div>
			</div>
			
			<div class="col-sm-3">
				<p class="footer-address">9525 Harford Road<br>Baltimore, MD 21234<br><br>
						Remit Payments To:<br> PO BOX 42668<br>Towson, MD 21284<br><br>
					<a href="mailto:sales@copyquality.com?Subject=Hello%20QBS" target="_top">sales@copyquality.com</a><br><a href="tel://1-410-337-3700">410-337-3700</a></p>
			</div><!-- end col -->
		</div><!-- end row -->
	</div><!-- container -->
</footer>